numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.2
joblib==1.5.3
xgboost==3.2.0
fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==1.10.22
pytest==8.4.1
httpx==0.28.1
jupyter==1.1.1
matplotlib==3.10.6
seaborn==0.13.2
